<h2>About</h2>
<div class="text">
    <p>This is the demo application of <a href="http://www.webino.org/" title="Webino | Open Source Website System">Webino</a> the Open Source Website System.</p>

    <p class="notice">This demo can't show all the features of Webino, but you have to tweak it!</p>

    <p>This is the first alpha release, use it in production on your own risk. You can play with Webino to understand its principles.</p>

    <p>This is the basic demo with text pages and pictures gallery. Works without database just with configuration.
        Static files like style images, cascading style sheets and java script are downloaded from the internet, so when you aren't online, demo wouldn't work.</p>

    <p>Please visit project home page <a href="http://www.webino.org/" title="Webino | Open Source Website System">http://www.webino.org/</a></p>
</div>